* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

.container {
    max-width: 120rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: aqua;
}