* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: 2px dotted #32B768;
    outline-offset: 2px;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

.container {
    max-width: 120rem;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

@media(min-width:0) and (max-width: 375px) {
    .container {
            max-width: 37.5rem;
            width: 100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            margin-left: auto;
            margin-right: auto;
            /* background-color: rgb(255, 0, 183); */
        }
}
