/* !user */
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.user__information {
    display: flex;
    align-items: center;
}

.user__img {
    max-width: 3rem;
    margin-right: 1rem;
}

.user__img img {
    width: 100%;
}

.user__about p {
    color: #ccc;
}

h3 {
    margin-top: 0.5rem;
}

/* !user__products */
.user__products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__products img {
    max-width: 2.5rem;
}

.bell-icon {
    margin-right: 1rem;
}


/* !Media Query */
@media( min-width:0 ) and ( max-width: 375px ) {
.user {
        justify-content: space-between;
    }

    /* !user__products */
        .user__products img {
            max-width: 2rem;
        }
}