.form {
    padding: 1.2rem;
   text-align: center;
}

.form input{
    width: 63%;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.form label {
    position: relative;
}

.setting-icon {
    max-width: 1rem;
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
}

@media(min-width:0) and (max-width: 375px) {
    .form input {
        width: 100%;
    }
    .setting-icon {
    max-width: 1.2rem;
    }
}